<div class="row">
	<div class="col-sm-12">
		<% if(typeof previous !== 'undefined') { %>
			<a class="btn btn-default" href="<%= previous %>">&laquo; Back to search results</a>
		<% } %>
	</div>
</div>

<div class="row">
	<div class="col-sm-2 producer-img-wrapper">
		<img class="producer-img" src="<%= producer.dataValues.image %>" alt="<%= producer.dataValues.name %>">
	</div>
	<div class="col-xs-4">
		<h2><a href="<%= producer.dataValues.url %>"><%= producer.dataValues.name %></a></h2>
		<p>Region: <em><strong><%= producer.dataValues.region %></strong></em></p>

		<% if(isAuthenticated) { %>
			<% if(!isFav) { %>
				<form action="/producers/favorites" method="post">
					<input type="hidden" name="id" id="producer-id" value="<%= producer.dataValues.id %>">
					<input type="submit" value="Add to favorites" class="btn btn-primary">
				</form>
			<% } else { %>
				<form action="/producers/favorites?_method=delete" method="post">
					<input type="hidden" name="id" id="producer-id" value="<%= producer.dataValues.id %>">
					<input type="submit" value="Remove from favorites" class="btn btn-default">
				</form>
			<% } %>
		<% } %>
		
	</div>
	<div class="col-xs-2">
			<div class="flavor-graph">
		<% flavors.forEach(function(flav) {%>
			<div class="drop drop<%= flav[1] %>" data-value="<%= flav[1] %>" data-key="<%= flav[0] %>">
					<span class="dataValue"><%= flav[1] %></span>
					<span class="dataLabel"><%= flav[0] %></span>
				</div>
		<%})%>
		</div>
	</div>
</div>

<!-- insert _sem3results.ejs partial -->

<% include ../partials/_sem3results.ejs %>



