<div class="row">
	<div class="col-sm-2 producer-img-wrapper">
		<img class="producer-img" src="<%= producer.dataValues.image %>" alt="<%= producer.dataValues.name %>">
	</div>
	<div class="col-sm-10">
		<h2><a href="<%= producer.dataValues.url %>"><%= producer.dataValues.name %></a></h2>
		<p>Region: <em><strong><%= producer.dataValues.region %></strong></em></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12 well">
		[Flavor profile visualization]
		<!-- flavor profile goes here -->
	</div>
</div>

<!-- brand will be available to the page from the DB query -->
<!-- consider moving the results template to a partial -->
<div class="row">
	<div class="col-md-12">
		<h3>Some <%= producer.dataValues.name %> Whiskys you might like to try:</h3>
		<ul class="results-list">
			<% data.results.forEach(function(product, index) { %>
				<li>
					<h4>
						<% if(typeof product.sitedetails !== 'undefined' && typeof product.sitedetails[0].latestoffers[0] !== 'undefined') { %>
						<a href="<%= product.sitedetails[0].url %>">
						<%= product.name %> - $<%= product.sitedetails[0].latestoffers[0].price %> | <em>Buy it!</em>
						</a>
						<% } else { %>
							<%= product.name %> | <em>No offer available</em>
						<% } %>
					</h4>
				</li>
			<% }) %>
		</ul>
	</div>
</div>




